* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style header */
.header {
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.header h2 {
    color: #45BA01;
}

.header span {
    font-size: 10px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    box-shadow: 5px 5px 10px #888888;
}

.left-column {
    float: left;
    width: 30%;
    padding: 10px 0;
    background-color: rgb(69, 186, 1);
    border: 2px solid #28a745;
}

.nav {
    color: #ffffff;
    font-weight: 700;
}

.nav > ul > li {
    list-style: none;
    height: 40px;
    padding-left: 10px;
    width: 60%;
}

.nav > ul > li:hover {
    background-color: rgb(59, 158, 1);
    border: 2px solid rgb(50, 136, 1);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.nav > ul > li > a:hover, .nav > .color-list > ul > li {
    cursor: pointer;
}

.nav > ul {
    margin-bottom: 10px;
    padding-left: 10px;
}

.color-list {
    border-top: 1px solid #ffffff;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.color-list-opt {
    padding-top: 10px;
    padding-left: 20px;
}

.color-list-opt input, .color-list-opt label {
    cursor: pointer;
}
.nav > ul > li {
    line-height: 40px;
}

.choose-colors {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    background-color: rgb(69, 186, 1);
    border: 0;
    cursor: pointer;
}

.right-column {
    float: right;
    width: 70%;
    padding: 10px;
    background-color:#E6E6E6;
}

.main-note {
    color: #2C3E50;
    padding: 10px;
    border-radius: 10px;
}

.main-note h3 {
    text-transform: uppercase;
    padding-bottom: 20px;
}

.note-list {
    margin: 20px auto;
    max-width: 1280px;
    color: #2C3E50;
}

.all-notes {
    float: left;
    width: 33.1%;
    margin-top: 2px;
    padding: 10px;
    border-radius: 4px;
}

.all-notes span:first-child {
    font-size: 18px;
    font-weight: bold;
}

.remove-note {
    float: right;
    font-size: 22px;
    cursor: pointer;
}

.all-notes p {
    padding-top: 20px;
}

/* Style footer */
.footer {
    background-color: #424242;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.frm {
    display: grid;
    width: 100%;
}

.frm-title {
    height: 30px;
    line-height: 30px;
}

#title, #description, #color {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    border: 1px solid #73AD21;
    padding-left: 10px;
}

.btn {
    margin-top: 20px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    border-radius: 10px;
}

#btnEdit {
    display: none;
}

.alert-danger {
    margin-top: 10px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    display: none;
}

/* Responsive layout */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}